button.button {
    transition: all 0.3s ease;
    background-color: #2185D0;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;

}

button.button:hover{
    background-color: #ffa704;
}