.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin: 0 0 5px 0;
    color: #222;
    font-weight: 500;
    font-size: 20px;
}

.field input {
    background-color: #fff;
    outline: 0;
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid rgb(34,34,34,0.25);
    color: #222;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;

}