
label {
    display: block;
    margin: 0 0 5px 0;
    color: #222;
    font-weight: 500;
    font-size: 20px;
}


select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 50px;
    -moz-padding-end: 50px;
    -webkit-padding-start: 30px;
    -moz-padding-start: 10px;
    background-color: #ecebf1; /* Fallback color if gradients are not supported */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #222;
    font-size: inherit;
    margin: 200;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    overflow: scroll;
}